# Task 1

#  Prediction Using Supervised Ml

# Author :  YASHIKA MURUGESAN

# Linear Regression with Python

In section we will see how the python library for ML can be used on functions. We will start with simple linear regression involving two variables

# Problem Sttatement

In this regression task we will predict the percentage of marks that a students is expected to score besd upon the number of hours they studied.This is a simple linear regression task as it involves just two variables.

# To Predict:

what will be the predicted score if a student studies for 9.25hrs/day?

# Author: YASHIKA MURUGESAN

#  Step:1 Importing all libraries required in this notebook.

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

from pandas_profiling import ProfileReport

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Step:2 Reading data from csv file and visualization

In [2]:
data=pd.read_csv("http://bit.ly/w-data")
data

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [3]:
data.dtypes

Hours     float64
Scores      int64
dtype: object

In [4]:
data.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [5]:
data

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [6]:
X = data.iloc[:, :-1].values  
y = data.iloc[:, 1].values

In [7]:
profile=ProfileReport(data,title="Prediction Using Supervised ML")
print(profile)

### From the graph above  we can clearly see that there is a postive linear relation between the number of hours studied and percentage of score.

# Step:3 Preparing the data

The next step is to divide the data into "attributes" (inputs) and "labels"(output), and spliting that data into training and test set.

In [8]:
data.columns

Index(['Hours', 'Scores'], dtype='object')

In [9]:
data.shape

(25, 2)

In [10]:
data.size

50

In [11]:
X = data.iloc[:, :-1].values  
y = data.iloc[:, 1].values

In [12]:
#train,test=train_test_split(data,test_size=0.25,random_state=123)
from sklearn.model_selection import train_test_split 

X_train, X_test, y_train, y_test = train_test_split(X, y, 
                            test_size=0.2, random_state=0) 
X_train.shape

(20, 1)

In [13]:
X_test.shape

(5, 1)

In [14]:
#train_X=train.drop("scores",axis=1)
#train_y=train["scores"]

In [15]:
#test_x=test.drop("scores",axis=1)
#test_y=train["scores"]

#  step:4 Traning the Algorithm

We have split our data into training and testing setd, and now is finally the time to train our algorithm.

In [16]:
from sklearn.linear_model import LinearRegression  
regressor = LinearRegression()  
regressor.fit(X_train, y_train) 

print("Training complete.")

Training complete.

In [17]:
line = regressor.coef_*X+regressor.intercept_

# Plotting for the test data
plt.scatter(X, y)
plt.plot(X, line);
plt.show()

<ipython-input-17-bf11e143f8b4>:6: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [18]:
lr=LinearRegression()

In [19]:
lr.fit(X_train,y_train)

LinearRegression()

In [20]:
lr.coef_

array([9.91065648])

In [21]:
lr.intercept_

2.018160041434683

In [22]:
#plotting the regression line 

line=lr.coef_*X_train+lr.intercept_

#plotting for the data

plt.scatter(X_train,y_train)
plt.plot(X_train, line);
plt.show()

<ipython-input-22-d0ae88da08c8>:9: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

# step:5 Making Predictions

Now that we have trained our algorthim, It's time to make some predictions

In [23]:
pre=lr.predict(X_test)

In [24]:
list(zip(y_test,pre))

[(20, 16.884144762398037),
 (27, 33.73226077948984),
 (69, 75.35701799818723),
 (30, 26.794801243040276),
 (62, 60.491033277223885)]

#  Step:6 Evaluating the Model

The final step is to evaluate the performance of algorithm. This step is Particularly important to compare how well different algorithm perform on a particular dataset. For simplicity here, we have chosen the mean square error. There are many such metrics

In [25]:
from sklearn.metrics import mean_squared_error

In [26]:
mean_squared_error(y_test,pre,squared=False)

4.6474476121003665

# Step:7 Solution

In [27]:
hour=[9.25]
own_per=lr.predict([hour])
print("No of Hours={}".format([hour]))
print("predicted socre= {}".format(own_per[0]))

No of Hours=[[9.25]]
predicted socre= 93.69173248737538

# Predicted Score=93.69173248737538